# Supabase Project Configuration
# Masukkan Project URL dari Dashboard Supabase: Project Settings -> API
SUPABASE_URL=https://[YOUR_PROJECT_REF].supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_fmfAwbFQbEsVaW_wGI73uQ_pbpbiQGN
SUPABASE_SECRET_KEY=your_supabase_secret_key_here

# Vercel Configuration
VERCEL_PROJECT_ID=prj_5p3lAWhncw0K2Bf7KeZUbUWj9vL9
